[submodule "monoLS"]
	path = monoLS
	url = www.github.com/pabloi/monoLS
[submodule "matlab-sysID"]
	path = matlab-sysID
	url = www.github.com/pabloi/matlab-sysID
[submodule "robustCov"]
	path = robustCov
	url = www.github.com/pabloi/robustCov
